<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @doctor.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @doctor.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @doctor.role %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
